@import './_loading_responsive.css';

section.loading__container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	min-height: 100vh;
	width: 100%;
	max-width: 3440px;
}

section.loading__container .top {
	height: 4rem;
	width: 100%;
	max-width: 3440px;
	background-color: var(--text-color-dark-gray);
}

section.loading__container .loading.loading_message {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
	width: 480px;
	height: 560px;
	border-radius: 1rem;
	box-shadow: 0 11px 34px 0 rgba(0, 0, 0, .2);
	padding: 2rem;
	margin: 0 auto;
}

section.loading__container .loading.loading_message img {
	width: 3rem;
	height: 3rem;
}

section.loading__container .loading.loading_message h4 {
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--text-color-dark);
	margin: 0;
	padding: 0;
}

section.loading__container .loading.loading_message .message {
	background-color: var(--primary-footer-color);
	border-radius: 1rem;
	padding: 1rem;
	width: 90%;
	height: auto;
	max-height: 450px;
}

section.loading__container .bottom {
	height: 2rem;
	background-color: transparent;
}
