section.blog__rules {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
	min-height: 100vh;
	width: 80%;
}

section.blog__rules .top {
	height: 4rem;
	width: 125%;
	background-color: var(--text-color-dark-gray);
}

section.blog__rules h1 {
	text-align: center;
}

section.blog__rules .bottom {
	height: 2rem;
	background-color: transparent;
}