section.blog__rules {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0auto;
	min-height: 100vh;
	width: 80%;
	max-width: 3440px;
}

section.blog__rules .top {
	height: 4rem;
	width: 125%;
	max-width: 3440px;
	margin: 0;
	background-color: var(--text-color-dark-gray);
}

section.blog__rules h1 {
	text-align: center;
}

section.blog__rules ol,
section.blog__rules .disclaimer {
	max-width: 1440px;
}

section.blog__rules .bottom {
	height: 2rem;
	background-color: transparent;
}