@media screen and (width < 776px) and (orientation: portrait) {
	body section.add__post h1 {
		width: 90%;
		text-align: left;
	}

	body section.add__post .add__post__form {
		width: 90%;
	}

	body section.add__post .add__post__form form .form__group .input__container {
		width: 90%;
	}

	body section.add__post .add__post__form form .form__group .input__container img {
		max-width: 100%;
	}

	body section.add__post .add__post__form form .add__validation__area {
		justify-content: space-between;
	}
}
