@import './_postView_responsive.css';

section.post__detail__container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	min-height: 100vh;
	width: 100%;
	max-width: 3440px;
}

section.post__detail__container .top {
	height: 4rem;
	width: 100%;
	max-width: 3440px;
	margin: 0;
	background-color: var(--text-color-dark-gray);
}


section.post__detail__container article {
	width: 75%;
	max-width: 1440px;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

section.post__detail__container article .github {
	border: solid 1px var(--primary-color_contrast);
	background-color: var(--primary-color_contrast);
	border-radius: 13px;
	padding: 1.15rem .15rem;
}

section.post__detail__container article .github a {
	width: 100%;
	height: 100%;
	padding: .9rem;
	border: solid 1px var(--primary-color);
	border-radius: 9px;
	background-color: var(--primary-color_contrast);
	color: var(--primary-color);
}

section.post__detail__container article .post__edition .main__button {
	background-color: var(--primary-color_contrast);
}

section.post__detail__container .bottom {
	height: 3rem;
	width: 100%;

}
