@media screen and (max-width: 776px) and (orientation: portrait) {
	body section.signup__container .signup__form {
		width: calc(100% - 1rem);
	}

	body section.signup__container .signup__form .header .title h1 {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 844px) and (orientation: landscape) {
	body section.signup__container .signup__form {
		width: 60%;
		margin: 2rem auto;
	}
}
